[2021-11-29 15:43] q9f opened #3 "implement key management using `rbsecp256k1`"
* https://github.com/etscrivner/rbsecp256k1 instead of ffi and openssl

[2021-11-30 18:13] #3 closed

[2021-12-13 10:47] q9f opened #14 "lib/key: encrypt/decrypt"
implement password encryption and decryption for keypairs.

[2021-12-13 10:47] q9f opened #15 "lib/key: signatures and recovery"
implement sign and verify for keys.

- [x] sign
- [x] verify
- [x] personal_sign (eip 191) #24
- [x] personal_recover (eip 191) #21
- [x] typed structered data signing (eip 712) #27

[2021-12-13 10:49] q9f opened #16 "import RLP:: to Eth::Rlp::"
https://github.com/cryptape/ruby-rlp is archived since 2016 and we might just incorporate it

[2021-12-13 10:50] q9f opened #17 "lib/transaction: gas, data, composition, signing"
implement ethereum transactions as per eip 2718 (typed transactions).

enforce replay protection with chain id (eip 155).

consider eip 1599 support.

[2021-12-13 10:51] q9f commented on #17
maybe @keeran wants to look into this. https://github.com/EthWorks/ethereum.rb/issues/171

🙃

[2021-12-17 12:49] q9f opened #28 "import Ethereum::ABI:: to Eth::Abi::"
https://github.com/cryptape/ruby-ethereum-abi

[2021-12-21 13:26] #28 closed

[2021-12-22 13:25] q9f opened #30 "test case for signatures with v > 255"
some chain IDs should produce a v larger than 1 byte, the code might fail

ref https://github.com/se3000/ruby-eth/pull/43

[2021-12-22 13:26] q9f commented on #30
also: test cases with legacy signatures

[2021-12-22 13:39] #15 closed

[2021-12-22 14:37] q9f opened #31 "allow for usage of HD wallets"
* https://rubygems.org/gems/ethereum_tree
* https://rubygems.org/gems/money-tree

[2021-12-23 18:44] q9f commented on #17
Just taking some notes.

### EIP 1559 transaction (type 02)

* ref: https://eips.ethereum.org/EIPS/eip-1559

[code]

Transaction contents:

[code]

Transaction signed:

[code]

Txn Hash: `0x9bec09c6bcc01f461ec8769b262895190173e5cac887cca8463a84add7546a17`

Raw Transaction Hex :

[code]

Key (passphrase `asdfasdfasdf`):

[code]

There is probably no need to support Type 01 and legacy transactions.

[2021-12-23 18:54] q9f commented on #17
access lists: https://hackmd.io/@fvictorio/gas-costs-after-berlin

[2021-12-30 17:58] q9f opened #34 "Implement Client for Eth1 execution APIs"
* https://github.com/ethereum/execution-apis
* https://github.com/EthWorks/ethereum.rb/blob/master/lib/ethereum/client.rb

[2021-12-30 18:00] q9f opened #35 "eth/bls: implement BLS keys/signatures"
https://en.wikipedia.org/wiki/BLS_digital_signature

[2021-12-30 18:01] q9f opened #36 "Implement SSZ.rb Encoder/Decoder"

[2022-01-05 13:51] q9f commented on #30
example test case: https://ethereum.stackexchange.com/questions/38650/field-size-and-value-range-of-chainid-eip-155

[2022-01-05 14:51] q9f opened #38 "honor intrinsic gas for eip-2718 transactions"

[2022-01-09 13:33] #17 closed

[2022-01-09 13:35] #14 closed

[2022-01-10 13:14] #30 closed

[2022-01-12 07:09] q9f opened #44 "Eip 1271 support"
https://eips.ethereum.org/EIPS/eip-1271

[2022-01-13 19:48] vilius opened #45 "Contract unable to verify signed message on Rinkeby (invalid V value)"
Observation:

Typed data signature using eth.rb vs ethers.js differ in last bytes (both set to Chain ID 4). eg:
[code]

When sent to a contract on Rinkeby `ethers.js` signature can be verified, but `eth.rb` fails with message `invalid 'v' value`.
Interestingly `ethers.js` can verify both messages and return correct address.

In the code I've noticed following implementation:
[code]

EIP-155 says:

[2022-01-14 07:21] q9f commented on #45
Thank you for your report.

While I implemented this, I was aware that I did not add any way to support pre-155 legacy values for `v`.

The fix you proposed would break `v` values for any signature that respects EIP-155.

I'm surprised that you are using Chain ID of 4 but still get a `v` value not respecting the ID. Did you talk to the ethers.js developers about this?

While I acknowledge that leg

[2022-01-14 09:03] q9f commented on #45
Interestingly ethers.js can verify both messages and return correct address.

I have misread this bit. Do you mean the `invalid 'v' value` message comes from the contract? Could you show me the contract and signed data, so that I can write a test case?

[2022-01-14 09:50] q9f commented on #45
I made a clean fix in #47 that allows to give you control over the chain ID. By not specifying it, you automatically get a legacy value for `v` (27, 28).

[2022-01-14 09:50] #45 closed

[2022-01-14 10:12] q9f commented on #38
Actually: https://eips.ethereum.org/EIPS/eip-2028

[2022-01-14 11:59] #38 closed

[2022-01-18 16:29] q9f opened #51 "empty access list bug"
[code]

https://ethereum.stackexchange.com/questions/119252/eip-2930-1559-is-an-empty-access-list-supposed-to-be-80-or-c0

[2022-01-18 16:57] q9f commented on #51
my geth node was not supporting eip-1559

[2022-01-18 16:57] #51 closed

[2022-01-19 15:01] #34 closed

[2022-01-21 12:38] q9f opened #54 "rlp: non-canonical integer (leading zero bytes) for *big.Int, decoding into (types.DynamicFeeTx).R"
https://github.com/q9f/eth.rb/runs/4895235740?check_suite_focus=true

[code]

[2022-01-26 15:23] q9f opened #55 "relax openssl requirement"
currently, major projects do not yet support upgrading to openssl 3, e.g. discourse

ref: https://github.com/cedarcode/openssl-signature_algorithm/issues/4

[2022-01-26 15:38] #55 closed

[2022-01-26 17:36] q9f commented on #54
[code]

[2022-01-26 17:37] q9f commented on #54
[code]

[2022-01-26 17:47] q9f commented on #54
[code]

[2022-01-26 18:07] q9f commented on #54
https://ethereum.stackexchange.com/questions/71616/ethereum-boardcast-shows-error-non-canonical-integer-leading-zero-bytes-for

[2022-01-27 11:42] q9f commented on #54
only happens with type 2, not legacy

[code]

[2022-01-27 11:42] q9f commented on #54
and type-1

[code]

[2022-01-27 13:31] #54 closed

[2022-01-28 11:36] #16 closed

[2022-03-18 11:40] spidzio opened #67 "The dependency is broken for 0.4.18 gem version"
The 0.4.18 version of the gem is dependent on `money-tree ~> 0.11` which does not exist. The latest existing version of the `money-tree` is `0.10`.

[2022-03-21 15:41] #67 closed

[2022-03-21 15:42] q9f commented on #67
Closing this as you can either follow the instructions in https://github.com/GemHQ/money-tree/issues/50

Or upgrade to the latest version of `eth` which no longer relies on money tree.

[2022-03-22 08:33] spidzio commented on #67
This gem is a dependency for `magic-admin-ruby` which also has a dependency issue and the `eth 0.5` version causes `NameError` for `Eth::Utils` which I can see was renamed to `Eth::Util`. On the other hand, when I freeze `eth < 0.5` it takes 0.4.17 but causes an `openssl` error. I was hoping that 0.4.18 maybe solve the error for now. Meanwhile, I reported the bug in the `magic-admin-ruby` but I'm

[2022-03-23 10:37] q9f commented on #67
Ok, I see. Can you test this? https://github.com/magiclabs/magic-admin-ruby/pull/12

[2022-03-29 15:58] q9f commented on #44
Ref https://github.com/spruceid/siwe-ruby/issues/15

[2022-04-16 09:20] mculp opened #72 "Add Types::Num"
This will be a port of the Num class in

https://github.com/httprb/http

[2022-04-16 09:28] mculp opened #73 "Should we have an Enumerable Eth::Chains that is a collection of Eth::Chain objects?"
see https://github.com/mculp/eth.rb/blob/add-chainlist/data/chainlist.json

[2022-04-16 09:46] mculp opened #74 "eth/client: support resolving ENS domains"
I think this may tie or interfere with the implementation of #72 also.

[2022-04-16 15:53] q9f commented on #74
An ::EnsResolver could be part of the client. Once you instantiate a client, it should have the ability to resolve ::Ens to ::Address

[2022-04-16 15:57] q9f commented on #73
I'm afraid most users won't need custom chains anyway. I would carefully say this is low priority, however, I would never reject a PR that improves the library ;)

[2022-04-17 06:54] kurotaky opened #75 "GitPOAP for eth.rb contributors"
I want to distribute POAPs with GitPOAP for eth.rb contributors. May need to create a nice badge. 📛
https://www.gitpoap.io/
If anyone is interested in creating a design for POAP, please feel free to let me know. 😃

[2022-04-17 12:08] q9f commented on #75
Yes, I also subscribed to GitPOAP for updates. Currently, it's not possible to issue custom POAPs yet. Let's discuss this on Telegram.

[2022-04-17 12:08] #75 closed

[2022-04-18 02:07] kurotaky commented on #75
I see, thanks!

[2022-04-25 17:28] w4ll3 commented on #44
Sure, 1271 defines a function that should be implemented on smart contract
wallets, isValidSignature(hash, signature), so in order to support it we
would need support to make a call using this ABI, you can see a Typescript
implementation of it here
https://github.com/spruceid/siwe/blob/main/packages/siwe/lib/utils.ts

Att,
Gregório Granado Magalhães.

On Mon, Apr 25, 2022, 1:24 PM Afr Schoe ***@**

[2022-04-26 15:17] q9f commented on #44
Gotcha.

[code]

[2022-05-02 15:46] arenzel commented on #74
That would be great!

[2022-05-06 13:22] q9f commented on #74
NameHash: https://docs.ens.domains/contract-api-reference/name-processing

Resolver: https://docs.ens.domains/dapp-developer-guide/resolving-names

[2022-05-06 17:29] q9f commented on #74
same address on all networks: `0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e`

https://etherscan.io/address/0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e#readContract

[2022-05-09 01:12] bnolan opened #82 "Doesn't support structs in emitted events"
Various errors when trying to decode logs from this contract:

[code]

I'm working on adding support for structs / tuples, any pointers for me? Otherwise I'll submit a PR when it's ready.

[2022-05-09 03:23] kurotaky commented on #82
Hi, I would be grateful if you could post the error on the issue, but Pull Request is always welcome!

[2022-05-10 10:50] #44 closed

[2022-05-11 06:42] mculp commented on #74
I'll work on this next

[2022-05-11 15:49] q9f opened #86 "eth/client: add ws/wss support"
https://github.com/EthWorks/ethereum.rb/pull/181

[2022-05-13 06:59] Lasvad opened #87 "OpenSSL support. Release 0.5 still supports openssl 3.0 but the 0.5.3 branch has be downgraded to OpenSSL 2.2"
Hi there,

Is there any plan to bring this back up to openssl 3.0? I need to use the branch 0.5.3 because I need the ability to call a contract which doesn't seem to be supported yet in the main release branch.

[code]

I've tried to downgrade the Openssl gem to version to 2.2 but having issues getting the install to work correctly on my machine.

My main question is, will the OpenSSL 3 dependency

[2022-05-13 08:54] q9f commented on #87
Just remove your `Gemfile.lock` and run `bundle install`

Blocked by https://github.com/cedarcode/openssl-signature_algorithm/pull/5

Ref #55 #56

[2022-05-13 09:04] #73 closed

[2022-05-16 01:51] Lasvad commented on #87
hmm so using just `gem eth`, everything works great for installing the gem
![image](https://user-images.githubusercontent.com/9116207/168503053-4e54360c-d0da-475d-8338-2d3810b63c18.png)
![image](https://user-images.githubusercontent.com/9116207/168503118-293f42b3-b63a-4a18-83ec-c5aaf9899e94.png)

But the issue I'm facing is that I want to interact with contracts. Contracts are documented, but does

[2022-05-16 07:31] q9f commented on #87
On a side-note, the `::Contract` is still very early in progress and will change again with 0.5.4.

[2022-05-16 07:36] #87 closed

[2022-05-16 08:53] #82 closed

[2022-05-16 12:54] q9f commented on #87
please try the latest release 0.5.4 🚀

[2022-05-17 05:47] Lasvad commented on #87
@q9f Any recommendations for another gem/library to use for Contract support in the mean time? Only need to basic interaction with simply contract like balanceOf/ownerOf (no need to deploy).

[2022-05-17 08:52] q9f commented on #87
0.5.4 is released, this is your best shot IMHO.

[2022-05-17 09:16] q9f opened #95 "eth/api: update apis to latest"
making a call to `max_priority_fee_per_gas` (the call in api.rb is wrong -- should be called `eth_maxPriorityFeePerGas` not `eth_getMaxPriorityFeePerGas`

[2022-05-17 09:19] #95 closed

[2022-05-18 12:12] tbazadaykin opened #97 "Tuple supoort"
is it possible to encode/decode tuples?

[code]

[2022-05-18 12:31] q9f commented on #97
Yes:

[code]

A tuple is encoded as if all its members were separate parameters, see: https://ethereum.stackexchange.com/questions/80520/abiencoderv2-encoding-tuple-algorithm

[2022-05-18 12:31] #97 closed

[2022-05-18 13:34] lonnv opened #98 "encode bytes error"
When executing a method with arguments of data-type `bytes4`,
a method encode_bytes(value, subtype) in `abi.rb:356` throws an `Eth::Abi::ValueOutOfBounds`

in the Abi I have:

[code]

When I call with name `supportsInterface` and value `0x80ac58cd` it throws that error.
I can't pass an array of bytes or anything because anything other than a String throws an `Eth::Abi::EncodingError` on line 348.

[2022-05-18 13:43] q9f commented on #98
Do you mind posting a script or command you are running so I can try to reproduce it?

[2022-05-18 13:54] lonnv commented on #98
[code]

[2022-05-18 16:12] q9f opened #99 "eth/client: transact_and_wait should check receipt"
- wait
- is mined
- is success

[2022-05-18 16:57] q9f commented on #98
I identified the issue. I'll try to have a patch by tomorrow.

[2022-05-18 17:33] q9f commented on #98
It needs to be binary not hex. But I can have a patch tomorrow.

[code]

Or:

[code]

[2022-05-19 07:40] lonnv commented on #98
Great, thank you

[2022-05-19 10:12] #98 closed

[2022-05-19 16:47] tbazadaykin opened #102 "Decode array of tuples"
I have encoded data like this:

`0x0000000000000000000000000000000000000000000000000000000000000042000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000c0000000000000000000000000000000000000000000000000000000000000000100000000000000000000000018a475d6741215709ed6cc5f4d064732379b5a58000000000000000000000000000000000000000000000

[2022-05-20 06:17] tomiwaAdey commented on #102
Yes, have a look at Abi decode.

[2022-05-20 07:16] tomiwaAdey opened #103 "eth/abi: implement encode_packed/decode_packed"
Given: I sign a message with a private key generated using eth.rb
Then: I get a signature
Expected: The signer of the message to be the signer verified on the smart contract

[code]

Smart contract

[code]

getSigner
returns a different address from the new_wallet.address

@q9f @kurotaky
Is there a difference between how encodePacked in solidity works and encode in eth.rb?

Using v'0.5.3'

[2022-05-20 11:45] alex-damian-negru opened #104 "Unclear reason behind `Eth::Abi::DecodingError` after calling RPC function"
## Description

While trying to call the `balanceOf` RPC method on the [CRYPTOPUNKS](https://etherscan.io/token/0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb#readContract) contract I encountered `Eth::Abi::DecodingError`.

I am instanting the contract using `#from_abi` with the ABI taken from the [official source](https://etherscan.io/address/0xb47e3cd837ddf8e4c57f05d70ab865de6e193bbb#code).

The cod

[2022-05-21 04:16] kurotaky commented on #104
@alex-damian-negru
Hi, I reproduced it with the same ABI. Please wait a moment while I fix it.

[2022-05-21 08:52] tomiwaAdey commented on #103
I also tried with simple strings and I get the same result

[2022-05-21 13:36] #104 closed

[2022-05-22 02:00] kurotaky commented on #102
Hi, Thanks for the issue. I think you mean the following.

[code]
Perhaps handling of tuple types should be implemented. 😄

### Related resources
- https://docs.soliditylang.org/en/develop/abi-spec.html?highlight=tuple#handling-tuple-types
- https://github.com/ChainSafe/web3.js/issues/1241

[2022-05-22 11:17] kurotaky commented on #103
@tomiwaAdey Hi, You could use abi.encode(ids) and the result would be the same.

### Result of encode in eth.rb
returns `0x62e243217b24f0adeab63b697d9c38d64bd4cbf540c9915772ddc377b45b411c`

[code]

### Try it on Smart Contract with Remix  (use abi.encodePacked() )
returns `0x6e0c627900b24bd432fe7b1f713f1b0744091a646a9fe4a65a18dfed21f2949c`

#### Code
[code]

#### Capture when executed

<img width=

[2022-05-22 14:15] tomiwaAdey commented on #103
@kurotaky I appreciate you taking the time to look into this.

I have since dug deeper into it and encoding in solidity works the same as encoding here.

The only problem when it comes to signing the message hash with eth.rb and verifying using Openzeplin's ECDSA is that OZ uses encodePacked and I'm not exactly sure exactly why they are using encodePacked instead of encode.

These are the options

[2022-05-22 20:22] tomiwaAdey commented on #103
Unfortunately, no luck with option 2 either.
I'll move most of the logic here to use JS for now.

The implementation in JS using ethers:
[code]

The sig return is verifiable with OZ ECDSA.

I've tried to send the messageHash to ruby.eth so I just sign the hash, but even that produces the wrong signature.
[code]

[2022-05-29 06:43] kurotaky commented on #103
@tomiwaAdey
I am going to look at this issue now, what did you find out?

[2022-05-29 10:41] tomiwaAdey commented on #103
Hey @kurotaky :)

I ended up using etherjs for signing just because I have a deadline coming up about a week from today.

**EncodePacked**
Yes, encodePacked performs packed encoding where:
- Dynamic types are encoded in place without length.
- Static types will not be padded if they are shorter than 32 bytes
- with the exception of arrays which doesn't have it's elements packed (not sure why)
So t

[2022-05-30 10:28] q9f commented on #103
Right, we might need encode_packed then.

[2022-06-02 10:21] q9f opened #109 "eth/contract: from_file defaults to ContextMixin"
From Telegram:

![photo_2022-06-02_12-20-48](https://user-images.githubusercontent.com/58883403/171609468-f9f4a21d-168c-46fa-a20c-c056e05da358.jpg)

[2022-06-08 11:41] pynixwang opened #110 "comparison of String with Integer failed"
I encode a uint256 with a string. eg "10000000000000000000000" from json.

and there is no convert cause this error.

[2022-06-08 12:02] pynixwang commented on #110
Abi.encode(["uint256"],["10000000000000000000000"])

[2022-06-08 12:04] pynixwang commented on #110
function abi and args are from json body, so I can not convert it explicitly.

[2022-06-08 12:04] pynixwang commented on #110
and json can not deal big Number

[2022-06-08 13:39] q9f commented on #110
Thank you, I'll try to have a fix soon

[2022-06-10 08:15] q9f commented on #109
@beacoding do you mind sharing one of these files? I would really like to reproduce this.

[2022-06-10 08:19] #110 closed

[2022-06-13 02:53] unixneo opened #113 "eth/contract greeter.sol - "Hash (NoMethodError) Did you mean? min" error"
Hi All.  Thank you very much for this `eth` gem.

Having trouble with my first  eth`greeter` test contract.   Here is the module, ruby console and run-time error.

What am I missing?  Must be something simple but I have read the docs over-and-over; banging head :)

[code]

and the error:

[code]

Thanks for helping me out.

[2022-06-13 03:13] unixneo commented on #113
My "guess" is that `solc` is not  formatting properly?

Or it is some other problem?

[code]

[2022-06-13 03:42] unixneo commented on #113
### DEBUGGING

[code]

[code]

[2022-06-13 05:54] unixneo commented on #113
### FWIW (More debugging)

same error with `helloworld.sol`

[code]

[2022-06-13 10:59] q9f commented on #113
I'm sorry, there is some documentation missing. What you need is an `Eth::Contract`:

[code]

[2022-06-13 11:08] q9f commented on #113
Updated the wiki: https://github.com/q9f/eth.rb/wiki/Smart-Contracts

Let me know if you have any further questions!

[2022-06-13 11:08] #113 closed

[2022-06-14 01:59] unixneo opened #115 "eth/contract hello_world.sol : Unsupported method: eth_coinbase. Alchemy does not support mining eth..."
Hi Again, and thanks for this great gem and your fast support.

Made the change you suggested in (now closed) issue #113, but this leads to another error:

[code]

Here is the module as tested:

[code]

Here is the calling (rails console) process:

[code]

Looking at the line  (453) where the error happens:

[code]

### hello_world.sol

[code]

FWIW, get this same error with my earlier (issue #113

[2022-06-14 02:09] unixneo commented on #113
Continued here:

https://github.com/q9f/eth.rb/issues/115

[2022-06-14 03:07] unixneo commented on #115
### DEBUGGING UPDATE

Changed the endpoint to alchemy using the goerli testnet since ropsten is deprecating

[code]

This this I get an more interesting error:

[code]
So, seems I need to disable or nil ```chain.eth_coinbase``` ?

Any ideas how best to do this?

[2022-06-14 03:15] unixneo commented on #115
### DEBUGGING. ```client.rb```

[code]

It appears this is part of the problem?

For test networks which do not mine, this call returns an error, correct?

What is the best way around this issue with test chains which do not mine?

Thanks

[2022-06-14 14:02] q9f commented on #115
Thank you, this is actually a bug. I partially fixed it in #85 but have not seen this. :+1:

[2022-06-14 14:53] unixneo commented on #115
Testing all these various blockchain provider endpoints is useful it seems.

- Hope it helps!

[2022-06-15 03:49] unixneo opened #116 "eth/contract Testing ETH Contract Deployment using the `eth` Ruby gem against provider endpoints"
Hope this helps.

I summarized some `eth` issues found when testing with four different blockchain endpoint providers here:

https://community.unix.com/t/testing-eth-contract-deployment-using-the-eth-ruby-gem-against-provider-endpoints/387004

Not sure the best was to continue reporting these issues, as I do not wish to be a pain and inundate anyone with these various issues encountered with testi

[2022-06-15 07:06] q9f commented on #115
Do you want to submit a PR?

[2022-06-15 11:46] unixneo commented on #115
I don't yet have the skills to debug the ETH protocol; but if I did, or if I ever do, I would be happy to help out anyway I can.

Not even sure where to start, to be honest.

[2022-06-15 12:38] unixneo commented on #116
Update:

Tried this, using `sender_key'

[code]

Results:

Waiting / stuck here:

[code]

not sure how long this should take, being new at this; but it just hangs.

[2022-06-15 12:46] unixneo commented on #116
Update:

Twice, it times out, as follows:

[code]

[2022-06-15 12:47] q9f commented on #116
In that case, you need to increase gas fees.

[2022-06-15 12:53] unixneo commented on #116
OK. Thanks. Waiting again, after:

[code]

[2022-06-15 12:55] q9f commented on #116
not the limit, the fee (price)

[2022-06-15 12:59] unixneo commented on #116
Thanks.

This one, correct?

[code]

Increase this?

[2022-06-15 13:12] unixneo commented on #116
I tried again on "chainstack_ropsten", and it worked, finally (with default settings)

[code]

Yea!   :)

[2022-06-15 13:14] unixneo commented on #116
Now, I just need to figure out how to set the gas fee for eth clients, as I could not find it here:

![Screen Shot 2022-06-15 at 8 13 16 PM](https://user-images.githubusercontent.com/12891828/173835509-a5271df1-dcb5-41a1-98a8-44a9c69db1f6.png)

Nor here:

![Screen Shot 2022-06-15 at 8 13 40 PM](https://user-images.githubusercontent.com/12891828/173835575-8d7d3c8d-6d41-4c7d-be62-06f3e9792493.png)

[2022-06-15 14:13] unixneo commented on #116
Also, FWIW, I checked the transaction above (the "successful" one), and it seems it failed for gas reasons as well:

![Screen Shot 2022-06-15 at 9 10 25 PM](https://user-images.githubusercontent.com/12891828/173848718-1b03fbcf-2d5d-4008-a40d-efe13bbdb1ec.png)

Being new to this, I'm confused why gas is such an issue on test networks and why these errors are not being returned to the `eth` client,

[2022-06-15 15:25] q9f commented on #116
Please read up on EIP 1559. You need to set both, priority and gas fee.

yes, this is a known issue #111 - I'll make a release shortly.

Yes, #99

[2022-06-15 15:55] unixneo commented on #116
Yes, I have...

The problem I am having is that when I read up on these topics on the net, and also in stackexchange and other sites and in other docs, the methods often do not match the methods in the `eth` gem.

Sorry you are getting frustrated with my questions. but I am only trying to understand how this `eth` gem works and the documentation is not clear and the return values are not providing

[2022-06-15 17:20] q9f commented on #116
I'm not frustrated :)

[2022-06-15 18:23] ytrezq opened #117 "Not a bug, but a question seeking to reach the repository owner."
Hello, @q9f, I don’t who to reach nor I found a way to contact you since the discord shutdown, but openethereum didn’t reached the end of it’s course, as there are many analysis tools relying on `parity_liststoragekeys` which is also required for building token richs lists on past blocks and Erigon is unwilling to break database compatibility for bringing the required equivalent fatdb feature whic

[2022-06-16 03:11] unixneo commented on #116
That's nice to hear.  I am worried that my testing and debugging is annoying you :)

So, today I added some debug prints to the gem and have increased gas prices like so:

[code]

However, this results in the "replacement underpriced" error:

[code]

So, I increased gas like this:

[code]

and that results in the "already known" error (which I think is nonce related?), as follows:

[code]

Maybe y

[2022-06-16 10:01] q9f commented on #117
Sure, just send me a message to parity at q9f dot cc :)

[2022-06-16 10:01] #117 closed

[2022-06-16 10:03] q9f commented on #116
I'll try to give you a more elaborate answer within the next days, please don't give up yet :)

[2022-06-18 01:35] unixneo commented on #116
Here is a quick public version of the code to test this Hello World contract:

https://github.com/unixneo/ethtest.git

Hope this helps.

[2022-06-18 05:36] unixneo commented on #116
Update:

Now I get this error:

[code]

And when I look for an answer via google, nothing I change helps to get past this roadblock.    The account I am using has over 300 ETH (not GWEI, ETH) and the signing key for the transactions is the same private key as the address.

Is there a method to simply read what the EVM wants so we can give it want it wants?

[2022-06-18 05:46] unixneo commented on #116
Trying yet another way, the error changes again:

[code]

Seems like the protocol and / or the gem should have methods to deal with this, right?

These seems to be standard errors and the solution would come from information in the EVM, so it seems when these errors occur, either:

1.  The EVM should return "what it wants" or
2. The gem should query the EVM on error and return "what the EVM" wants

[2022-06-20 03:23] unixneo opened #118 "eth/contract hello_world "already known" bug?"
Hi.   Thank you for this gem.   I have been debugging for hours adding print statements and trying to get past an issue with gem where every time I submit a simple hello world, or hi there contract, I get the same error:

[code]

This issue has been ongoing for a week now, so please forgive my annoying posts.  I am simply trying to use the `eth` gem to deploy the most simple Hello World contract I

[2022-06-20 08:43] akegaviar opened #119 "Incorrect gas_limit in the constructor"
Hi, thanks for this gem, I really like it.

That said, the `gas_limit` parameter doesn't seem to work.

Example:

[code]
[result](https://goerli.etherscan.io/tx/0xc4479ccf649748dc2e8dc6ca1f4a84d0558a26973801bdc202aee600b6d435b6). The gas limit is 57100.

[code]
[result](https://ropsten.etherscan.io/tx/0xc6f31d6fc58a22700085efe47b6b76a31c6eecdc676685d066a469da2c98b173) (different source contract).

[2022-06-21 11:10] #118 closed

[2022-06-21 11:11] unixneo commented on #116
Chainstack and Infura provided "working" gas params.  Thanks.

[2022-06-21 11:11] #116 closed

[2022-06-21 11:19] unixneo opened #121 "eth/contract: "invalid argument 0: hex string has length 40, want 64 for common.Hash""
Working with engineers from Chainstack and Infura, was able to get gas to work finally.   Now, this is the error when deploying contracts:

[code]

I traced this to `client.rb` in the `params` in the payload in `send_command`.  Printing each time this method is called, the params change from 64 (0x + 64) chars to 40 (0x + 40) chars before the failure.

[code]

This param is causing the error:

[co

[2022-06-21 14:58] kurotaky commented on #86
Now that I need this feature, I will work on it. ;)

[2022-06-22 14:33] #121 closed

[2022-06-22 14:36] unixneo commented on #115
This issue is resolved. Thanks for your help @q9f

[2022-06-22 14:36] #115 closed

[2022-06-25 01:01] otavioschwanck opened #123 "Decode Tuple"
Continuation of: https://github.com/EthWorks/ethereum.rb/issues/141

Any solution so far?

[2022-06-26 10:50] Wertster opened #124 "Using (Polygon) Mumbai Testnet Chain Id 80001 forces error 'Invalid signature v byte 27 for chain ID 80001!'"
Hoping this is the correct manner in which to raise queries? I'm using ruby-eth (0.5.4 looking at my gemfile.lock) to verify metamask signatures (personal sign'ed). My implementation has been stable/fine with default Chain ID (1), but now I am looking to bind to Chain Id 8001. Testing this has driven errors 'Invalid signature v byte 27 for chain ID 80001!'.

The function I call is Eth::Signature::

[2022-06-26 11:35] Wertster commented on #124
https://github.com/q9f/eth.rb/blob/main/lib/eth/signature.rb

[2022-06-26 12:03] Wertster commented on #124
Inputs to this recover function :
blob (signature)
cceb4a6992bd6db76bf95f4408ab5266264234fd727204d926ac01d8fb5c124e1842964ddb622537689cb087a01080a507ff0ebbe9931302c95e1f84bb02fb2b1b
length is 130
r = cceb4a6992bd6db76bf95f4408ab5266264234fd727204d926ac01d8fb5c124e
s = 1842964ddb622537689cb087a01080a507ff0ebbe9931302c95e1f84bb02fb2b
v = 1b
v.to_i(16) = 27
chain_id = 80001

`
raise SignatureError, "

[2022-06-26 20:37] Wertster commented on #124
Please forgive me, I've been workign this most of the day and realise i have made a mistake - not injecting the custom (non default chain_id 80001 into the **Eth::Signature.personal_recover** method. I am now unblocked - there is no logic constraint within the code. Thankyou and apologies for any wasted thinking time !

[2022-06-26 20:37] #124 closed

[2022-06-27 07:47] q9f commented on #123
No, I'm still unsure how this is done actually. We are tracking this here: #102

[2022-06-27 07:47] #123 closed

[2022-06-27 07:47] q9f commented on #102
Ref https://github.com/EthWorks/ethereum.rb/issues/141

[2022-06-27 07:49] q9f commented on #119
Yes, this should be fixed by #111 but I want to do some testing first before I release this.

[2022-06-27 10:21] akegaviar commented on #119
Okay, thank you.

Looking forward to the release. I created a quick tutorial on how to use eth.rb to publish at https://chainstack.com/blog , it's only pending the fix and then we'll publish it.

Thanks again!

[2022-06-27 10:42] otavioschwanck opened #125 "Sign array of arguments"
I have the following code:
[code]

The signature that generate its messed up.  When i try to verify, it returns another private key.

I am verifying with:
[code]

On python, i can sign with:
[code]

Is it possible to sign in this way with this gem?

Reference in Python: https://github.com/ethereum/web3.py/blob/master/web3/main.py#L304

[2022-06-29 08:58] nigimaxx opened #126 "Eth::Contract::FunctionInput drops array brackets from type"
When initializing `Eth::Contract::FunctionInput` with an array type (e.g. `uint256[]`) it returns the a non-array type on it's type method.

This example should make it clear:

[code]

[2022-06-29 16:49] davyfitz opened #127 "Arrays currently unimplemented for EIP-712"
Hi, is there a plan to implement arrays as per signTypedData_v4?

[2022-06-30 01:57] dansimpson commented on #119
@akegaviar the intrinsic gas limit calculator works when there isn't a constructor, and can work when their is, but the constructor may have significant gas fees if writing variables etc. I opened another PR #128  which allows you to override the gas limit when calling the deploy functions. Calculating the gas limit of the constructor is doable looking at the opcodes, but that requires additional

[2022-06-30 09:24] q9f commented on #127
Hi, can you give me an example that fails?

[2022-06-30 13:01] davyfitz commented on #127
I can't share too much info, but the sign_typed_data method is not up to date with the V4 standard, as outlined here:

https://docs.metamask.io/guide/signing-data.html#sign-typed-data-v4

Specifically I'm hitting this error in eip712.rb

`raise NotImplementedError, "Arrays currently unimplemented for EIP-712." if type.end_with? "]"`

It's not a huge problem, I've found a JS workaround for my use-c

[2022-07-01 08:47] q9f commented on #127
I'm asking because I only add `NotImplementedError` to the codebase if I cannot find any specification or test case. The link you posted does not contain much information.

So, if this is not too much to ask, I would like to see some test data (you can randomize the content), so that I can write a test case so that I can implement the feature completely. 🙏🏼

[2022-07-01 09:13] akegaviar opened #129 "HTTP basic auth support"
Low priority, I guess.

Please add basic auth support. See also [ethereum.rb #144](https://github.com/EthWorks/ethereum.rb/pull/144).

Thank you.

[2022-07-01 09:39] q9f commented on #119
Please let me know if this issue persists with the latest release 0.5.6!

[2022-07-01 09:39] #119 closed

[2022-07-05 14:19] nigimaxx commented on #126
This might solve it! (_At least in my tests it worked_)

[code]

[2022-07-07 10:22] sai1024 opened #134 "gem install eth error"
hello,
ruby version: 3.0.3
my error:
[code]

[2022-07-08 03:34] sai1024 commented on #134
ruby 2.6.6

[code]

[2022-07-08 06:11] #134 closed

[2022-07-11 07:32] Amplitude88 opened #136 "How to call contract Functions and send Tx?"
Hi,

im new to this gem but i already have experience with other web3 SDK's. My Question is:

How can i call a contract function for example "SwapExactETHForToken" and put Token A and Token B into the payload? And how can i send the transaction afterwards? Sorry i dont understand the documentation.

I have use Eth::Contract.from_abi because i think that this is the wrapper for the contract itself.

[2022-07-11 08:19] sai1024 commented on #136
I have a similar problem, my error:
[code]

[2022-07-12 09:35] sai1024 commented on #127
node: https://github.com/MetaMask/test-dapp/blob/main/src/index.js#L909
params: hello world!
result sign: 68753b12337549c6a0b8ff9d96c2821cb984a08f101dbd2146ee3f2bfcca11040d5a5292491b191a881d95c2b8b9cea15b25e909e2fc90b370190e03b4f2f62e1b

ruby:
[code]

![image](https://user-images.githubusercontent.com/56356960/178459798-ea26c804-9583-4a1b-ac1a-7b11f731cd47.png)

help !!!!!

[2022-07-12 09:36] sai1024 commented on #127
@q9f

[2022-07-13 01:54] sai1024 commented on #127
@lgn21st @davyfitz @josh @q9f 🙏

[2022-07-13 02:19] sai1024 commented on #136
Really hope there is stable Ruby version for ETH operations

[2022-07-13 06:03] Amplitude88 commented on #136
Dont think so. Even there is no activity to help the community. I'Ve also asked in the Ruby discord. Even no response. I ask myself what is gonna happen with the ruby community? Please help us

[2022-07-15 11:44] yaswanth-rails opened #137 "How to call payable method?"
Anyone please explain how to call payable method of a contract to transfer ether.

[2022-07-18 15:02] Liteo commented on #136
I don't know much either, but ... It looks like Fuji Test which doesn't support eth_sendTransaction. (For it to support that, it would need to know your private key, but it's a shared public node.)

You need to either sign the transaction yourself and then send via eth_sendRawTransaction or use a provider that can hold private keys like MetaMask in the browser.

Ex:
contract = Eth::Contract.from_a

[2022-07-18 15:03] Liteo commented on #136
Looks like web3 is a radioactive topic in the ruby community, a real shame ...

[2022-07-19 05:49] Soleone commented on #136
To help debug this issue could you please provide:

* any error message you're seeing when trying to call a function on a smart contract
* the URL provided to the ETH Client

I spent hours today debugging my problem and got various obscure error messages (e.g. it started with `ArgumentError: wrong number of arguments (given 1, expected 0) from <internal:nilclass>:10:in to_i'`) and it turned out al

[2022-07-19 09:52] tiagofragoso opened #138 "eth/signature: Unable to recover/verify some signatures from Ledger wallets"
There's a notable inconsistency between different ETH client implementations regarding the last byte `(v)` of `personal_sign`. Most clients return `1b` or `1c` (27, 28) but some return `00` or `01`. See [example discussion](https://github.com/trufflesuite/ganache/issues/972).

The Ledger wallet returns `00` or `01`, meaning that with the current implementation of this library, only `01` would work

[2022-07-22 00:13] septerr opened #139 "Bundle install fails on rbsecp256k1 dependency"
Added to `Gemfile` of a rails project and ran `bundle install` on Apple silicon macbook. Error:
[code]

[2022-07-22 00:23] septerr commented on #139
I was able to resolve this by installing `automake`:

[code]

See instructions for other operating systems here: https://github.com/etscrivner/rbsecp256k1/blob/master/README.md

[2022-07-24 09:44] septerr commented on #126
I am running into a similar issue. I am calling a contract function which returns an `uint256[]` type. But, the gem is parsing the returned value into an `uint256`.

[2022-07-24 18:54] septerr commented on #126
This patch works! I used it for `FunctionOutput` alongside the `FunctionInput` :)

[2022-08-04 22:16] a-moreira opened #141 "Possible problem in translating call() params into camelCase requirement"
version: `0.5.6`

I haven't been able to send a call transaction to a custom Substrate-based chain with EVM compatibility.
I get `IOErrors` related to the name of the tx params.

Example:
[code]
Investigating further, I noticed that the JSON fields in the payload look like this:
[code]
And the response is:
[code]

I was able to make it work by adding a `byebug` just before sending the request and

[2022-08-04 22:26] a-moreira commented on #141
more info: I'm using a custom EVM-compatible chain, but I hadn't had any problems before. I have been using this gem locked in version `0.4.12` for this purpose for more than a year without problems. Trying to upgrade right now.

[2022-08-05 07:29] urkishan opened #142 "Does this gem support Binance Smart Chain transactions (BEP20) ?"
As I am trying to do a transaction and getting transaction type not found.

So if anyone knows about any reference repository that I can work with to support BSC please let me know.

[2022-08-05 13:02] a-moreira commented on #142
BSC is EVM compatible AFAIK so this gem should be enough for you. Can you give more information about what kind of transaction you are trying to send and the error you are getting?

[2022-08-06 01:14] mculp commented on #74
Working on this now.

[2022-08-08 12:10] urkishan commented on #142
@a-moreira figured that out it was giving the error because of we were adding these two parameters `priority_fee and max_gas_fee` for the BSC and BSC doesn't support this now. With `gas_price` BSC worked fine for me.

[2022-08-08 12:11] urkishan commented on #142
We can close this issue.

[2022-08-12 14:25] LouisRandaxhe opened #143 "Is it possible to pass an address array to an eth contract function with transact_and_wait ?"
Hello, I am trying to transact with an eth contract method that take an address[] memory in arguments.

When I try to pass this array in args of transact_and_wait in my rails app, I have this error : Could not parse address: ["...", "...", ...].

How can I solve that problem ?

[2022-08-24 07:35] sai1024 commented on #141
I have the same problem.

[2022-08-25 01:51] sai1024 commented on #141
this reason is like Substrate-based chain or moonbase chain rpc only accepts different parameters: `from`, `to`, `gasPrice`, `maxFeePerGas`, `maxPriorityFeePerGas`, `gas`, `value`, `data`, `nonce`, `accessList`, `type`,
can solve this problem by modifying the source code

[2022-08-25 07:31] sai1024 commented on #143
I have the same problem.

[2022-08-25 19:58] dansimpson commented on #74
@mculp / @q9f I was looking for this as well, and started this here: https://github.com/withfabricxyz/eth.rb/commit/7194b7e4a3af6f4bb2b1578bb410390697aafac3

The biggest issue is in normalizing the domain. The ICU libraries for ruby don't seem to do exactly what is needed. This will work for basic names, but it's not properly encoding tokens with Cyrillic characters, etc. I tried a few libraries,

[2022-08-27 07:34] sai1024 commented on #116
hi,  How did you solve it in the end?

[2022-08-27 10:07] q9f opened #144 "Status of the repository"
I just wanted to let everyone know that I'm currently heavily involved organizing ETHBerlin³ besides my full-time job at ChainSafe. Unfortunately, I won't be able to address issues and review pull requests before September.

However, this repository has high priority for me and I will make sure we have a patch release ready by end of September!

[2022-08-27 11:41] unixneo commented on #116
TBH: I gave up with `eth.rb`, and impatiently moved on to more pleasant tasks than debugging this repo code (for reasons I will self-redact).

[2022-08-28 12:59] kurotaky commented on #144
I will be presenting at [RubyKaigi 2022](https://rubykaigi.org/2022/schedule/#sep10) on 9/10, so I can't actively respond until then, but I will continue to maintain it!  I will be speaking on eth.rb at this event.

[2022-08-28 13:25] gouravnaik opened #145 "Token Transfer"
Hi,

I am trying to transfer some of my tokens to another address and here are the steps I followed.

[code]

But getting an error

[code]

I feel the issue is in `lib/eth/abi.rb` in line 52

[2022-09-23 14:44] JDecrypto commented on #143
Hi,

I would like to be able to do the same.

I am trying to transact with an eth contract method that take an address[] memory in arguments. When I try to pass this array in args of transact_and_wait in my rails app, I have the following error : Could not parse address: ["...", "...", ...].

Thank you for your work.

[2022-09-26 13:23] q9f commented on #74
Thank you, Dan.

I would love to consider accepting this for now. Some thoughts:
- adding a test case to resolve a name on mainnet (we can set an INFURA_ID in CI)
- maybe renaming `Eth::Ens::Resolver::DEFAULT_ADDRESS` to `Eth::Ens::DEFAULT_REGISTRY` or something meaningul in the ::Ens namespace
- We already deploy the registry to our test chain, maybe we can try to set a name and resolve it straig

[2022-09-26 13:25] #126 closed

[2022-09-26 13:27] q9f commented on #127
I don't have a test case for this. If you can show me an array that raises the `NotImplementedError` above, please post it here so I can work on a patch. Otherwise it will be hard for me to reproduce as I explained in the comment above.

[2022-09-26 13:34] q9f commented on #136
@sai1024 your issue is unrelated, the error message says that send_transaction is not available because you don't have access to the remote private keys. you would need to pass a key to sign the transaction as @Liteo explained:

https://github.com/q9f/eth.rb/issues/136#issuecomment-1187611738

@Amplitude88  I cannot comment on the Ruby Discord as I do not use Discord but feel free to join our Tele

[2022-09-26 13:36] q9f commented on #137
This is not implemented. We currently cannot path an Ether value to `transact`.

[2022-09-26 13:42] q9f commented on #138
This was patched in https://github.com/se3000/ruby-eth/pull/48

We have a test case for this: https://github.com/q9f/eth.rb/blob/main/spec/eth/signature_spec.rb#L183-L188

However, it does not cover all valid ledger `v` as you correctly pointed out and was broken with #43

Should be easy to patch

[2022-09-26 13:43] #139 closed

[2022-09-26 13:59] q9f commented on #141
That's interesting. I only tested against local Geth nodes and remote Infura endpoints which definitely accept the snake_case_parameters. However, I'm more than happy to accept such a change.

Maybe we can add a Moonbeam compatibility feature or rewrite all parameters to camel case. (Does Geth accept camel case?)

[2022-09-26 14:01] #142 closed

[2022-09-26 14:02] q9f commented on #143
Thanks for raising this. Could you show me an example contract or transaction that causes this issue?

[2022-09-26 14:05] q9f commented on #144
Great!

[2022-09-26 14:05] #144 closed

[2022-09-26 14:07] q9f commented on #145
Yes, this is something we need to work on for sure!

[2022-09-26 14:16] a-moreira commented on #141
hey @q9f thanks!
How do you see the Moonbeam compatibility feature implemented? It's not clear to me.
Regarding Geth accepting camel case, I can't confirm because I haven't tried, but looking at Ethereum docs [here](https://ethereum.org/en/developers/docs/apis/json-rpc/#eth_call) I would say it does.

[2022-09-26 14:24] LouisRandaxhe commented on #143
Hello,

Here is the Solidity contract function signatures :
`function distributeNewIncome(uint amount, address[] memory validAddresses) public`

And here is how I call it in my Rails app :
`@eth = Ethereum.new #instantiate my Ethereum.rb class (see below)

def distribute_income_to_users(contract_address, amount)
    begin
      contract = get_contract(contract_address)
      valid_addresses = Wall

[2022-09-26 15:20] q9f commented on #116
Sorry to see you gave up.

Responded to all your questions here: https://community.unix.com/t/creating-a-hello-world-contract-with-ruby-ethereum/388145

[2022-09-26 15:30] #109 closed

[2022-09-26 16:39] a-moreira commented on #141
@q9f OK.
I can open a PR for that. Should I move everything to CamelCase by default and remove snake_case then?

[2022-09-26 16:46] q9f opened #149 "Fix documentation for overloaded parameters (formatting)"
- overloaded parameters (formatting)
- also clarify the need for private keys (remote RPCs)
- example for infura etc
- end to end remote smart contract example

[2022-09-26 17:47] mculp commented on #74
@dansimpson The encoding issue was the issue I ran into as well when trying to work on this. I was trying to follow the ENS spec to the T and couldn't seem to find a library that correctly encoded all names.

Thanks for doing this

[2022-09-27 04:15] mculp commented on #74
@dansimpson FYI this is the recursive namehash implementation that I had. I ported it from the python reference implementation.

[code]

[2022-09-27 04:18] mculp commented on #74
@dansimpson If you open a PR, I have a couple pretty minor comments I'd like to make on your changes.

[2022-09-28 06:26] musik commented on #74
`
  def namehash(name)
    if name.empty?
      Eth::Util.prefix_hex("00"*32)
    else
      label, _, remainder = name.partition('.')
      Eth::Util.prefix_hex(sha3(namehash(remainder) + sha3(label)))
    end
  end
  def sha3 str
    str = Eth::Util.hex_to_bin(str) if Eth::Util.is_hex?(str)
    Eth::Util.bin_to_hex(Eth::Util.keccak256(str))
  end
`

[2022-09-29 00:28] mculp commented on #74
@musik yeah, once [this](https://github.com/q9f/eth.rb/pull/76) gets merged these conversions should be easier

[2022-09-30 07:11] samuarti opened #152 "Sign Transaction ( ArgumentError (comparison of String with 1 failed))."
Expected behaviour

When we trying to do sign the transactions its return error.
( ArgumentError (comparison of String with 1 failed)).
Expected behaviour

#####Log error

 pkey =  <Eth::Key:0x0000559d893b2b90 @private_key=#<Secp256k1::PrivateKey:0x0000559d893b25f0 @data="x\xE6\x1F\"^4\rG\x16\xEFC\xEC\xC9l\xE4\xB3cD\x95\x8F\xC1\xDEl\xCF\xDC\xDC\xA9?\xA0U\x0F\x93">, @public_key=#<Secp256k1::PublicK

[2022-10-05 09:21] tiagofragoso commented on #138
@mboyle if your use case is message signatures but not transaction signatures, I think you could get away with using `chain_id = 0` as your last argument to `verify`/`personal_recover`. That will fulfil the `v < chain_id` check and you should be able to extract/verify the signer.
https://github.com/q9f/eth.rb/blob/6e1a491f2cc4bc8be0abe2197b58e821cfd53abc/lib/eth/signature.rb#L73

[2022-10-06 14:14] mboyle commented on #138
@tiagofragoso this totally worked, thank you so much, you're a lifesaver!

[2022-10-06 15:29] skeevis commented on #145
@gouravnaik have you been able to get past this issue?

[2022-10-10 05:40] #152 closed

[2022-10-17 18:11] Amplitude88 commented on #136
@q9f

The main problem is, that im not in able to send any payload. I dont know how i can put the data into the payload.
That means i dont know, how i can interact with an contract. For example i will call Eth::Contract.from_abi() , i will receive an object. This object give me the called contract, right?. Then i want to pass my transaction data, to build a transaction object which i then will sig

[2022-10-22 14:21] kingviewer opened #153 "Contract call: when pass type of address[] params, 'Could not parse address' error raised"
I was calling the methods of my contract. The is a parameter of type address[] of one method.
When the method called, the error raised:
eth-0.5.6/lib/eth/abi.rb:424:in `encode_address': Could not parse address: ["0x2574A0c1CD2c55D3FcB3435f5E3174f82375c156"] (Eth::Abi::EncodingError)

And if a method of contract returns type of address[], the result is not correct.

[2022-10-22 14:23] kingviewer commented on #153
The abi of the method:

{
			"constant": false,
			"inputs": [
				{
					"internalType": "address[]",
					"name": "receipts",
					"type": "address[]"
				},
				{
					"internalType": "string[]",
					"name": "uris",
					"type": "string[]"
				}
			],
			"name": "batchMint",
			"outputs": [],
			"payable": false,
			"stateMutability": "nonpayable",
			"type": "function"
		}

[2022-10-25 18:05] q9f commented on #136
Gotcha. So, you want to _transact_ with the contract, not call it. See this answer: https://ethereum.stackexchange.com/a/768/87

But putting terminology aside, here is what you want to do. You don't want to create a transaction object, the library can handle this for you.

[code]

Note, how you can just pass arguments to the function call and transact. Don't forget to provide a sender key.

Please

[2022-10-27 12:58] q9f commented on #153
Yes, I also noticed that. Stay tuned 🙏🏼

[2022-10-31 10:57] q9f commented on #129
Fixed #151 and #154

[2022-10-31 10:57] #129 closed

[2022-10-31 11:09] q9f commented on #136
I added it to the wiki: https://github.com/q9f/eth.rb/wiki/Smart-Contracts#writing-to-a-smart-contract-transact

Let me know if there is anything else!

[2022-10-31 11:09] #136 closed

[2022-10-31 11:38] q9f commented on #141
Yes, a default camel case would work for me! Sorry for the late response! :)

[2022-10-31 11:40] q9f commented on #153
Let's track this here #143

[2022-10-31 11:40] #153 closed

[2022-10-31 12:46] #138 closed

[2022-10-31 14:03] #149 closed

[2022-11-01 02:11] a-moreira commented on #141
OK, I'm working on it here: https://github.com/a-moreira/eth.rb/pull/1
I will open the PR here as soon as I fix all the test errors.

[2022-11-01 22:28] a-moreira commented on #141
hey @q9f I opened the PR to check the CI workflow, since I'm getting a weird error on tests that I couldn't debug. Can't you approve the workflows? :-)

[2022-11-02 16:16] q9f commented on #141
Done :)

[2022-11-03 14:16] JDecrypto commented on #143
Do you have any idea when you can solve the problem please?

Thank you very much!

[2022-11-08 00:44] dillon-co opened #164 "Connect with meteamask"
I saw a you answered [this stack exchange](https://ethereum.stackexchange.com/questions/24364/how-can-i-connect-my-rails-app-to-an-ethereum-network) saying you could authenticate with metamask using this gem. Do you have any examples of how to plug this into the frontend?

Basically I'm trying to login with metamask while avoidin using any NPM packages.. Is that even possible or no?

[2022-11-09 02:31] a-moreira commented on #141
hey @q9f is there any chance you could take a quick look at this? For some reason only _some_ of the tests break with a insufficient gas error, I may be getting crazy but could not pin it. The errors I get are the same as the CI shows.

[2022-11-11 14:46] q9f commented on #164
Yes, do you use rails? Have a look at:

* https://docs.login.xyz/libraries/ruby/rails
* https://dev.to/q9/finally-authenticating-rails-users-with-metamask-3fj
* https://github.com/q9f/ethereum-on-rails
* https://github.com/spruceid/siwe-rails-examples/tree/main/rails-engine

[2022-11-11 14:46] #164 closed

[2022-11-11 14:50] q9f commented on #141
I started debugging a bit, something is fishy. I have not too much time to dive deeply into it but I would suggest you starting with the test in client spec on line 128.

[code]

And then try to find out why it needs funds for a call and why the address is 0x0

[code]

[2022-11-21 07:25] samkahchiin opened #167 "Unsupported method: eth_coinbase on matic"
Getting this error while I am trying to follow the tutorial

### Command
[code]

### Error
[code]

[2022-11-21 11:16] q9f commented on #167
you will have to provide a sender key, so that it does not require the client's coinbase.

[code]

[2022-11-26 07:50] #137 closed

[2022-11-26 07:52] q9f commented on #137
`Client.transact(contract, function, *args, **kwargs)` now accepts a `tx_value` parameter.